"*":
  "atom-ide-ui":
    use: {}
  core:
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      "node_modules"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    fontFamily: "PragmataPro, Menlo, Consolas, DejaVu Sans Mono, monospace"
    showIndentGuide: true
  "linter-ui-default":
    panelHeight: 208
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
